<a href="https://colab.research.google.com/github/mpt777/Math215/blob/main/Intro_to_Python_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 1 - Introduction to Python programming I**

Enter your code in the spaces provided.  Do not change any of the variable names or function names that are already provided for you.  In places where we specify the name of the return value, make sure that your code produces the a value with the correct name.

In [10]:
# Do not edit this cell.

LabID="Lab1"

try:
  from graderHelp import ISGRADEPLOT
except ImportError:
  ISGRADEPLOT = True

**Enter your name, section number, and BYU NetID**

In [ ]:
# Enter your first and last names in between the quotation marks.

first_name="Marshal"

last_name="Taylor"

# Enter your Math 215 section number in between the quotation marks. 

section_number="001""  

# Enter your BYU NetID in between the quotation marks.  NOT YOUR BYU ID NUMBER!

BYUNetID="mpt777"

**Problem 1**

In [3]:
my_first_var=(118+11*2)/(9-2)   # Replace the value of 0 with the required expression from Problem 1.

20.0

**Problem 2**

In [13]:
def arithmetic2(i):
  return((((i+2)*3)-5)) # Put your return value here.  Your shouldn't need to add any more lines of code to this function.

10

**Problem 3**

In [14]:
def triple(y):
  return 3*y # Put your return value here.

30

In [16]:
def avg(x,y):
  return (x+y)/2  # Put your return value here.

3.0

In [17]:
def combine(x,y):
  # Put your code here.  Remember that this function should call both of the functions triple(y) and avg(x,y) from above.
  return avg(x,triple(y))# Put your return value here.

10.5

**Problem 4**

In [18]:
def first(c):
  # Put your code here.
  return c[0]# Put your return value here.

1

In [28]:
def first_last(c):
  # Put your code here.
  return first(c), c[len(c)-1]# Put your return values here.  Remember a function can return two values (you will format your return statement as "return value1, value2").

(1, 5)

In [25]:
def middle(c):
  # Put your code here.
  return c[1:len(c)-1]# Put your return value here.

[2, 3, 4]

**Problem 5**

In [29]:
def swap(c):
  original_list=c.copy() # This creates a copy of the list c, which is called original_list.  Your function should work with this list instead of the list c which is passed to the function.
  c[0] = original_list[len(original_list)-1]
  c[len(c)-1] = original_list[0]
  # Put your code here.
  return c# Put your return value here.
swap(w)

[5, 2, 3, 4, 1]

**Problem 6**

In [31]:
def absolute_value(x):
  if x >= 0:
    return x
  elif x < 0:
    return x*-1
  # Put your code here.

8

**Problem 7**

In [33]:
def indicator(lower,upper,n):
  if lower <= upper and n <= upper and n >= lower:
    return 1
  else:
    return 0
  # Put your code here.

1

**Problem 8**

In [37]:
def trunc_max(x,y):
  if x >= 0 or y >= 0:
    if x >= y:
      return x
    elif y >= x:
      return y
  else:
    return 0
  # Put your code here.
trunc_max(3,1000)

1000

**STOP!  BEFORE YOU SUBMIT THIS LAB:**  Go to the "Runtime" menu at the top of this page, and select "Restart and run all".  If any of the cells produce error messages, you will either need to fix the error(s) or delete the code that is causing the error(s).  Then use "Restart and run all" again to see if there are any new errors.  Repeat this until no new error messages show up.

**You are not ready to submit until you are able to select "Restart and run all" without any new error messages showing up.  Your code will not be able to be graded if there are any error messages.**

To submit your lab for grading you must first download it to your compute as .py file. In the "File" menu select "Download .py". The resulting file can then be uploaded to http://www.math.byu.edu:30000 for grading.